/* Variables de colores */
:root {
  --primary-color: #6c5ce7;
  --secondary-color: #00cec9;
  --text-color:rgb(0, 0, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Centrar el encabezado verticalmente arriba del formulario */
.login-container {
  display: flex;
  flex-direction: column; /* Asegura que el encabezado y el formulario estén en columnas */
  justify-content: center; /* Centra el contenido verticalmente */
  align-items: center; /* Centra el contenido horizontalmente */
  height: 100vh;
  background-color: #121212;
  background-image: url('../../assets/login.jpg'); 
  background-size: cover;
  background-position: center;
}

.login-logo {
  width: 150px; /* Ajusta el tamaño del logo */
  margin-bottom: 1rem; /* Espacio entre el logo y el formulario */
}

.logo-background {
  width: 100px;
  height: 150px;
  background-image: url('../../assets/logo.png'); /* URL del logo */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 1rem; /* Espacio entre el logo y el formulario */
}

.login-form {
  background-color: #1e1e1e;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  width: 100%;
  max-width: 400px;
  margin-top: 1rem; /* Agrega un espacio entre el encabezado y el formulario */
}

/* Centrar el texto del encabezado */
.login-form h1 {
  text-align: center;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem; /* Ajusta la altura para centrar verticalmente */
}

.login-form input {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #2d2d2d;
  color: #ffffff;
}

.login-form button {
  display: block;
  margin: 1rem auto;
  width: 100%;
  padding: 0.8rem;
  border: none;
  border-radius: 5px;
  background-color: #30D5C8;
  color: #121212;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-form button:hover {
  background-color: #1e9e8c;
}

/* Estilos para los placeholders animados */
.form-group {
  position: relative;
  margin-bottom: 1.5rem;
}

.form-group input {
  width: 100%;
  padding: 0.8rem;
  border: none;
  border-radius: 5px;
  background-color: #2d2d2d;
  color: #ffffff;
  outline: none;
}

/* Alinear el texto de "Correo Electrónico" con el límite de los botones y separarlo hacia arriba */
.form-group label {
  position: absolute;
  top: 10px; /* Separar un poco hacia arriba */
  left: 10px; /* Alinear con el límite izquierdo del botón */
  transform: none; /* Eliminar la transformación previa */
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  pointer-events: none;
  transition: all 0.3s ease;
}
.form-group input:focus + label,
.form-group input:not(:placeholder-shown) + label {
  top: 0;
  left: 10px;
  font-size: 0.8rem;
  color: #30D5C8;
}